<?xml version="1.0" encoding="UTF-8"?>
<robot name="omg_sohard">
  <joint name="FixedJoint" type="fixed">
    <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
    <parent link="World"/>
    <child link="base"/>
  </joint>
  <joint name="Joint1" type="revolute">
    <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
    <parent link="base"/>
    <child link="link1"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-3.1066861" upper="3.1066861" effort="10000000." velocity="6.2831853"/>
  </joint>
  <joint name="Joint2" type="revolute">
    <origin xyz="0. 0. 0.1743" rpy="0. 0. 0."/>
    <parent link="link1"/>
    <child link="link2"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-2.0943951" upper="2.0943951" effort="10000000." velocity="6.2831853"/>
  </joint>
  <joint name="Joint3" type="revolute">
    <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
    <parent link="link2"/>
    <child link="link3"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-3.1066861" upper="3.1066861" effort="10000000." velocity="6.2831853"/>
  </joint>
  <joint name="Joint4" type="revolute">
    <origin xyz="-0.018 0. 0.287" rpy="0. 0. 0."/>
    <parent link="link3"/>
    <child link="link4"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-2.5307274" upper="1.0471976" effort="10000000." velocity="6.2831853"/>
  </joint>
  <joint name="Joint5" type="revolute">
    <origin xyz="0.018 0. 0.314" rpy="0. 0. 0."/>
    <parent link="link4"/>
    <child link="link5"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-3.1066861" upper="3.1066861" effort="10000000." velocity="6.2831853"/>
  </joint>
  <joint name="Joint6" type="revolute">
    <origin xyz="0. 0. -0." rpy="0. 0. 0."/>
    <parent link="link5"/>
    <child link="link6"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-1.0471976" upper="1.0471976" effort="10000000." velocity="6.2831853"/>
  </joint>
  <joint name="Joint7" type="revolute">
    <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
    <parent link="link6"/>
    <child link="ttt"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="-1.5707963" upper="1.5707963" effort="10000000." velocity="6.2831853"/>
  </joint>
  <joint name="JointF" type="fixed">
    <origin xyz="0. 0. 0.088" rpy="0. 0. 0."/>
    <parent link="ttt"/>
    <child link="flange"/>
  </joint>
  <link name="World">
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="file:///home/ydkwon/workspaces/dev/tmp/meshes/CollisionMesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="base">
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="file:///home/ydkwon/workspaces/dev/tmp/meshes/BASE_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="file:///home/ydkwon/workspaces/dev/tmp/meshes/BASE_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="flange"/>
  <link name="link1">
    <visual>
      <origin xyz="0.0000008 0. 0. " rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="file:///home/ydkwon/workspaces/dev/tmp/meshes/LINK1_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0000008 0. 0. " rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="file:///home/ydkwon/workspaces/dev/tmp/meshes/LINK1_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="link2">
    <visual>
      <origin xyz="-0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="file:///home/ydkwon/workspaces/dev/tmp/meshes/link2_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="file:///home/ydkwon/workspaces/dev/tmp/meshes/link2_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="link3">
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 3.1415927"/>
      <geometry>
        <mesh filename="file:///home/ydkwon/workspaces/dev/tmp/meshes/LINK3_LOWER_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 3.1415927"/>
      <geometry>
        <mesh filename="file:///home/ydkwon/workspaces/dev/tmp/meshes/LINK3_UPPER_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 3.1415927"/>
      <geometry>
        <mesh filename="file:///home/ydkwon/workspaces/dev/tmp/meshes/LINK3_LOWER_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 3.1415927"/>
      <geometry>
        <mesh filename="file:///home/ydkwon/workspaces/dev/tmp/meshes/LINK3_UPPER_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="link4">
    <visual>
      <origin xyz="-0. 0. -0." rpy="0. 0. -3.1415927"/>
      <geometry>
        <mesh filename="file:///home/ydkwon/workspaces/dev/tmp/meshes/LINK4_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. 0. -0." rpy="0. 0. -3.1415927"/>
      <geometry>
        <mesh filename="file:///home/ydkwon/workspaces/dev/tmp/meshes/LINK4_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="link5">
    <visual>
      <origin xyz="0. 0. -0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="file:///home/ydkwon/workspaces/dev/tmp/meshes/LINK5_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. -0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="file:///home/ydkwon/workspaces/dev/tmp/meshes/LINK5_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="link6">
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="file:///home/ydkwon/workspaces/dev/tmp/meshes/LINK6_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="ttt">
    <visual>
      <origin xyz="0. 0. 0." rpy="3.1415927 -1.5707964 0. "/>
      <geometry>
        <mesh filename="file:///home/ydkwon/workspaces/dev/tmp/meshes/tn__T_Arm_MarvinM6SLCCS_WKe8HJ_01_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="3.1415927 -1.5707964 0. "/>
      <geometry>
        <mesh filename="file:///home/ydkwon/workspaces/dev/tmp/meshes/Mesh_01.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="3.1415927 -1.5707964 0. "/>
      <geometry>
        <mesh filename="file:///home/ydkwon/workspaces/dev/tmp/meshes/Mesh_02.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="3.1415927 -1.5707964 0. "/>
      <geometry>
        <mesh filename="file:///home/ydkwon/workspaces/dev/tmp/meshes/Mesh_03.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="3.1415927 -1.5707964 0. "/>
      <geometry>
        <mesh filename="file:///home/ydkwon/workspaces/dev/tmp/meshes/Mesh_04.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="3.1415927 -1.5707964 0. "/>
      <geometry>
        <mesh filename="file:///home/ydkwon/workspaces/dev/tmp/meshes/Mesh_05.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="3.1415927 -1.5707964 0. "/>
      <geometry>
        <mesh filename="file:///home/ydkwon/workspaces/dev/tmp/meshes/Mesh_06.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
</robot>
