<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="right_base">
    <inertial>
      <origin xyz="0.00032267 4.798E-05 0.04066353" rpy="0 0 0"/>
      <mass value="1.1962"/>
      <inertia ixx="0.00107329" ixy="-1.68E-06" ixz="-1.05E-05" iyy="0.00107003" iyz="-3.43E-06" izz="0.00127315"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/BASE_Mesh.obj"/>
      </geometry>
      <material name="dark_grey"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/BASE_Mesh.obj"/>
      </geometry>
    </collision>
  </link>

  <link name="right_link1">
    <inertial>
      <origin xyz="0.00002347 0.00557150 -0.03075998" rpy="0 0 0"/>
      <mass value="1.9705"/>
      <inertia ixx="0.00492293" ixy="0.00000550" ixz="0.00000193" iyy="0.00526513" iyz="0.00033232" izz="0.00188107"/>
    </inertial>
    <visual>
      <origin xyz="0.0000008 0 0"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/LINK1_Mesh.obj"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="0.0000008 0 0"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/LINK1_Mesh.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_joint1" type="revolute">
    <parent link="right_base"/>
    <child link="right_link1"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.1067" upper="3.1067" effort="108" velocity="3.1416"/>
  </joint>

  <link name="right_link2">
    <inertial>
      <origin xyz="0.00013483 0.06170460 0.00950639" rpy="0 0 0"/>
      <mass value="2.24398"/>
      <inertia ixx="0.01194933" ixy="0.00000336" ixz="0.00000091" iyy="0.00361581" iyz="-0.00132804" izz="0.01098356"/>
    </inertial>
    <visual>
      <geometry><mesh filename="package://dual_arm_description/meshes/link2_Mesh.obj"/></geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <geometry><mesh filename="package://dual_arm_description/meshes/link2_Mesh.obj"/></geometry>
    </collision>
  </link>
  <joint name="right_joint2" type="revolute">
    <parent link="right_link1"/>
    <child link="right_link2"/>
    <origin xyz="0 0 0.1743"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.0944" upper="2.0944" effort="108" velocity="3.1416"/>
  </joint>

  <link name="right_link3">
    <inertial>
      <origin xyz="0.00968562 0.00246599 -0.04627302" rpy="0 0 0"/>
      <mass value="1.9242"/>
      <inertia ixx="0.00718224" ixy="0.00004413" ixz="0.00089552" iyy="0.00762563" iyz="0.00022096" izz="0.00178597"/>
    </inertial>
    <visual>
      <origin rpy="0 0 3.1415"/>
      <geometry><mesh filename="package://dual_arm_description/meshes/LINK3_LOWER_Mesh.obj"/></geometry>
      <material name="grey"/>
    </visual>
    <visual>
      <origin rpy="0 0 3.1415"/>
      <geometry><mesh filename="package://dual_arm_description/meshes/LINK3_UPPER_Mesh.obj"/></geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin rpy="0 0 3.1415"/>
      <geometry><mesh filename="package://dual_arm_description/meshes/LINK3_LOWER_Mesh.obj"/></geometry>
    </collision>
    <collision>
      <origin rpy="0 0 3.1415"/>
      <geometry><mesh filename="package://dual_arm_description/meshes/LINK3_UPPER_Mesh.obj"/></geometry>
    </collision>
  </link>
  <joint name="right_joint3" type="revolute">
    <parent link="right_link2"/>
    <child link="right_link3"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.1067" upper="3.1067" effort="66" velocity="3.1416"/>
  </joint>

  <link name="right_link4">
    <inertial>
      <origin xyz="0.00850411 -0.04718223 0.00941509" rpy="0 0 0"/>
      <mass value="1.6085"/>
      <inertia ixx="0.00580480" ixy="-0.00066669" ixz="-0.00012722" iyy="0.00223807" iyz="0.00070523" izz="0.00533060"/>
    </inertial>
    <visual>
      <origin rpy="0 0 -3.1415"/>
      <geometry><mesh filename="package://dual_arm_description/meshes/LINK4_Mesh.obj"/></geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin rpy="0 0 -3.1415"/>
      <geometry><mesh filename="package://dual_arm_description/meshes/LINK4_Mesh.obj"/></geometry>
    </collision>
  </link>
  <joint name="right_joint4" type="revolute">
    <parent link="right_link3"/>
    <child link="right_link4"/>
    <origin xyz="-0.018 0 0.287"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.5307" upper="1.0472" effort="66" velocity="3.1416"/>
  </joint>

  <link name="right_link5">
    <inertial>
      <origin xyz="-0.00051127 -0.00101064 -0.11271739" rpy="0 0 0"/>
      <mass value="2.0883"/>
      <inertia ixx="0.00626603" ixy="0.00004009" ixz="-0.00005338" iyy="0.00564387" iyz="0.00006193" izz="0.00243632"/>
    </inertial>
    <visual>
      <geometry><mesh filename="package://dual_arm_description/meshes/LINK5_Mesh.obj"/></geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <geometry><mesh filename="package://dual_arm_description/meshes/LINK5_Mesh.obj"/></geometry>
    </collision>
  </link>
  <joint name="right_joint5" type="revolute">
    <parent link="right_link4"/>
    <child link="right_link5"/>
    <origin xyz="0.018 0 0.314"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.1067" upper="3.1067" effort="18" velocity="3.1416"/>
  </joint>

  <link name="right_link6">
    <inertial>
      <origin xyz="0.00032659 -0.00531336 0.00030182" rpy="0 0 0"/>
      <mass value="0.72496"/>
      <inertia ixx="0.00046040" ixy="-0.00000189" ixz="-0.00000083" iyy="0.00051716" iyz="-0.00000346" izz="0.00042521"/>
    </inertial>
    <visual>
      <geometry><mesh filename="package://dual_arm_description/meshes/LINK6_Mesh.obj"/></geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry><mesh filename="package://dual_arm_description/meshes/LINK6_Mesh.obj"/></geometry>
    </collision>
  </link>
  <joint name="right_joint6" type="revolute">
    <parent link="right_link5"/>
    <child link="right_link6"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.0472" upper="1.0472" effort="18" velocity="3.1416"/>
  </joint>

  <link name="right_ttt">
    <inertial>
      <origin xyz="-0.00009108 -0.03153255 0.00889371" rpy="0 0 0"/>
      <mass value="0.68606"/>
      <inertia ixx="0.00173687" ixy="-0.00000345" ixz="-0.00000116" iyy="0.00089035" iyz="0.00030680" izz="0.00139406"/>
    </inertial>
    <visual>
      <origin rpy="3.1415 -1.5707 0"/>
      <geometry><mesh filename="package://dual_arm_description/meshes/tn__T_Arm_MarvinM6SLCCS_WKe8HJ_01_Mesh.obj"/></geometry>
    </visual>
  </link>
  <joint name="right_joint7" type="revolute">
    <parent link="right_link6"/>
    <child link="right_ttt"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.5708" upper="1.5708" effort="18" velocity="3.1416"/>
  </joint>

  <link name="right_flange"/>
  <joint name="right_flange_joint" type="fixed">
    <parent link="right_ttt"/>
    <child link="right_flange"/>
    <origin xyz="0 0 0.088" rpy="0 0 0"/>
  </joint>

</robot>
