<?xml version="1.0"?>
<xacro:include xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="right_arm">
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="1e-4" ixy="0" ixz="0" iyy="1e-4" iyz="0" izz="1e-4"/>
    </inertial>
  </xacro:macro>

  <link name="right_base">
    <visual>
      <geometry>
        <mesh filename="file://$(find dual_arm_description)/meshes/BASE_Mesh.obj"/>
      </geometry>
      <material name="dark_grey"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file://$(find dual_arm_description)/meshes/BASE_Mesh.obj"/>
      </geometry>
    </collision>
    <xacro:right_arm/>
  </link>
  <!-- <joint name="world_to_right_base" type="fixed">
    <origin xyz="0.1 0 1.0" rpy="0 1.57079632679 0"/>
    <parent link="world"/>
    <child link="right_base"/>
  </joint> -->

  <!-- Right Arm Links -->
  <link name="right_link1">
    <visual>
      <origin xyz="0.0000008 0 0"/>
      <geometry>
        <mesh filename="file://$(find dual_arm_description)/meshes/LINK1_Mesh.obj"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="0.0000008 0 0"/>
      <geometry>
        <mesh filename="file://$(find dual_arm_description)/meshes/LINK1_Mesh.obj"/>
      </geometry>
    </collision>
    <xacro:right_arm/>
  </link>
  <joint name="right_joint1" type="revolute">
    <parent link="right_base"/>
    <child link="right_link1"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.1066" upper="3.1066" effort="100" velocity="6.28"/>
  </joint>

  <link name="right_link2">
    <visual>
      <geometry><mesh filename="file://$(find dual_arm_description)/meshes/link2_Mesh.obj"/></geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <geometry><mesh filename="file://$(find dual_arm_description)/meshes/link2_Mesh.obj"/></geometry>
    </collision>
    <xacro:right_arm/>
  </link>
  <joint name="right_joint2" type="revolute">
    <parent link="right_link1"/>
    <child link="right_link2"/>
    <origin xyz="0 0 0.1743"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-2.0943" upper="2.0943" effort="100" velocity="6.28"/>
  </joint>

  <link name="right_link3">
    <visual>
      <origin rpy="0 0 3.1415"/>
      <geometry><mesh filename="file://$(find dual_arm_description)/meshes/LINK3_LOWER_Mesh.obj"/></geometry>
      <material name="grey"/>
    </visual>
    <visual>
      <origin rpy="0 0 3.1415"/>
      <geometry><mesh filename="file://$(find dual_arm_description)/meshes/LINK3_UPPER_Mesh.obj"/></geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin rpy="0 0 3.1415"/>
      <geometry><mesh filename="file://$(find dual_arm_description)/meshes/LINK3_LOWER_Mesh.obj"/></geometry>
    </collision>
    <collision>
      <origin rpy="0 0 3.1415"/>
      <geometry><mesh filename="file://$(find dual_arm_description)/meshes/LINK3_UPPER_Mesh.obj"/></geometry>
    </collision>
    <xacro:right_arm/>
  </link>
  <joint name="right_joint3" type="revolute">
    <parent link="right_link2"/>
    <child link="right_link3"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.1066" upper="3.1066" effort="100" velocity="6.28"/>
  </joint>

  <link name="right_link4">
    <visual>
      <origin rpy="0 0 -3.1415"/>
      <geometry><mesh filename="file://$(find dual_arm_description)/meshes/LINK4_Mesh.obj"/></geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin rpy="0 0 -3.1415"/>
      <geometry><mesh filename="file://$(find dual_arm_description)/meshes/LINK4_Mesh.obj"/></geometry>
    </collision>
    <xacro:right_arm/>
  </link>
  <joint name="right_joint4" type="revolute">
    <parent link="right_link3"/>
    <child link="right_link4"/>
    <origin xyz="-0.018 0 0.287"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-2.5307" upper="1.0471" effort="100" velocity="6.28"/>
  </joint>

  <link name="right_link5">
    <visual>
      <geometry><mesh filename="file://$(find dual_arm_description)/meshes/LINK5_Mesh.obj"/></geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <geometry><mesh filename="file://$(find dual_arm_description)/meshes/LINK5_Mesh.obj"/></geometry>
    </collision>
    <xacro:right_arm/>
  </link>
  <joint name="right_joint5" type="revolute">
    <parent link="right_link4"/>
    <child link="right_link5"/>
    <origin xyz="0.018 0 0.314"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.1066" upper="3.1066" effort="100" velocity="6.28"/>
  </joint>

  <link name="right_link6">
    <visual>
      <geometry><mesh filename="file://$(find dual_arm_description)/meshes/LINK6_Mesh.obj"/></geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry><mesh filename="file://$(find dual_arm_description)/meshes/LINK6_Mesh.obj"/></geometry>
    </collision>
    <xacro:right_arm/>
  </link>
  <joint name="right_joint6" type="revolute">
    <parent link="right_link5"/>
    <child link="right_link6"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-1.0471" upper="1.0471" effort="100" velocity="6.28"/>
  </joint>

  <link name="right_ttt">
    <visual>
      <origin rpy="3.1415 -1.5707 0"/>
      <geometry><mesh filename="file://$(find dual_arm_description)/meshes/tn__T_Arm_MarvinM6SLCCS_WKe8HJ_01_Mesh.obj"/></geometry>
    </visual>
    <xacro:right_arm/>
  </link>
  <joint name="right_joint7" type="revolute">
    <parent link="right_link6"/>
    <child link="right_ttt"/>
    <axis xyz="-1 0 0"/>
    <limit lower="-1.5707" upper="1.5707" effort="100" velocity="6.28"/>
  </joint>

  <link name="right_flange"/>
  <joint name="right_flange_joint" type="fixed">
    <parent link="right_ttt"/>
    <child link="right_flange"/>
    <origin xyz="0 0 0.088"/>
  </joint>

</xacro:include>
