<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <ros2_control name="dual_arm_control" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <!-- Left ARM -->
    <joint name="left_joint1">
      <command_interface name="position"/>
      <state_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="left_joint2">
      <command_interface name="position"/>
      <state_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="left_joint3">
      <command_interface name="position"/>
      <state_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="left_joint4">
      <command_interface name="position"/>
      <state_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="left_joint5">
      <command_interface name="position"/>
      <state_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="left_joint6">
      <command_interface name="position"/>
      <state_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="left_joint7">
      <command_interface name="position"/>
      <state_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <!-- Right ARM -->
    <joint name="right_joint1">
      <command_interface name="position"/>
      <state_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="right_joint2">
      <command_interface name="position"/>
      <state_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="right_joint3">
      <command_interface name="position"/>
      <state_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="right_joint4">
      <command_interface name="position"/>
      <state_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="right_joint5">
      <command_interface name="position"/>
      <state_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="right_joint6">
      <command_interface name="position"/>
      <state_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="right_joint7">
      <command_interface name="position"/>
      <state_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

  </ros2_control>

  <gazebo>
    <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="gz_ros2_control-system">
      <parameters>$(find dual_arm_gazebo)/config/dual_arm_gazebo_controllers.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
